.ContactData{
    margin: 20px auto;
    width: 80%;
    text-align: center;
    border: solid red;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px #ccc;
    border: solid 1px #eee;
    padding: 10px;
}

.Input {
    display: block;
    margin: 10px auto;
    height: 20px;
    border-radius: 2px;
    border: solid 1px;
    padding: 3px;
}

@media(min-width: 600px)
{
    .ContactData{
        width: 500px;
    }
}